Repository voxpupuli/puppet-nginx, pull requests merged in 2018-07, with the labels that each got.

#1225 dont deploy "ssl on" on nginx 1.15 or newer
  manifests/init.pp
  manifests/params.pp
  manifests/resource/server.pp
  spec/defines/resource_server_spec.rb
  templates/server/server_ssl_settings.erb
Labels: bug

#1217 Add service_enable and simplify service_ensure, #1208
  manifests/init.pp
  manifests/service.pp
  spec/classes/nginx_spec.rb
Labels: enhancement

#1226 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#1227 release 0.13.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1232 modulesync 1.9.3
  .msync.yml
Labels: modulesync

#1235 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync
