Repository voxpupuli/puppet-nginx, pull requests merged in 2018-10, with the labels that each got.

#1252 Strip line endings in mime.types
  templates/conf.d/mime.types.epp
Labels: enhancement

#1251 Propery handle ${client_body,proxy}_temp_path
  manifests/config.pp
  manifests/init.pp
Labels: enhancement

#1253 Move error_log to the http section
  spec/classes/nginx_spec.rb
  templates/conf.d/nginx.conf.erb
Labels: enhancement

#1254 Fix logging setup on Debian
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  spec/classes/nginx_spec.rb
Labels: bug

#1238 start one worker process per core
  manifests/init.pp
Labels: enhancement, needs-feedback

#1258 release 0.14.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1233 Add parameters to upstream and upstreammembers
  README.md
  manifests/init.pp
  manifests/resource/upstream.pp
  manifests/resource/upstream/member.pp
  spec/acceptance/nginx_proxy_spec.rb
  spec/acceptance/nginx_upstream_spec.rb
  spec/classes/nginx_spec.rb
  spec/defines/resource_upstream_spec.rb
  spec/type_aliases/size.rb
  spec/type_aliases/time.rb
  spec/type_aliases/upstreamcustomparameters.rb
  spec/type_aliases/upstreammemberserver.rb
  spec/type_aliases/upstreamstickyzone.rb
  spec/type_aliases/upstreamzone.rb
  templates/upstream/upstream_footer.epp
  templates/upstream/upstream_footer.erb
  templates/upstream/upstream_header.epp
  templates/upstream/upstream_header.erb
  templates/upstream/upstream_member.epp
  templates/upstream/upstream_member.erb
  templates/upstream/upstream_members.erb
  types/size.pp
  types/time.pp
  types/upstreamcustomparameters.pp
  types/upstreamdefaults.pp
  types/upstreamleasttime.pp
  types/upstreamleasttimehttp.pp
  types/upstreamleasttimestream.pp
  types/upstreammember.pp
  types/upstreammemberdefaults.pp
  types/upstreammembers.pp
  types/upstreammemberserver.pp
  types/upstreamsticky.pp
  types/upstreamstickyzone.pp
  types/upstreamzone.pp
Labels: backwards-incompatible, enhancement

#1266 Change gzip default to off and update tests
  manifests/init.pp
  spec/classes/nginx_spec.rb
Labels: backwards-incompatible

#1249 Allow setting unquoted or custom flags on add_headers
  spec/defines/resource_location_spec.rb
  spec/defines/resource_server_spec.rb
  templates/server/locations/headers.erb
  templates/server/server_header.erb
  templates/server/server_ssl_header.erb
Labels: enhancement

#1269 release 0.15.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
