Repository voxpupuli/puppet-nginx, pull requests merged in 2018-12, with the labels that each got.

#1278 Allow multiple servers per location
  manifests/resource/location.pp
  spec/acceptance/nginx_location_spec.rb
  spec/defines/resource_location_spec.rb
Labels: enhancement

#1276 Fix the condition for upstream members
  manifests/resource/upstream.pp
Labels: bug

#1291 modulesync 2.4.0
  .msync.yml
  .travis.yml
Labels: modulesync

#1290 Update smartos support
  manifests/params.pp
Labels: enhancement

#1273 update documentation and examples associated with adding upstream para…
  README.md
  examples/upstream.pp
Labels: docs

#1256 Introduce two new optional proxy parameters
  manifests/config.pp
  manifests/init.pp
  manifests/resource/location.pp
  manifests/resource/server.pp
  spec/classes/nginx_spec.rb
  spec/defines/resource_location_spec.rb
  templates/conf.d/nginx.conf.erb
  templates/server/locations/proxy.erb
Labels: enhancement

#1294 release 0.16.0
  CHANGELOG.md
  HISTORY.md
  metadata.json
Labels: skip-changelog
