Repository voxpupuli/puppet-nginx, pull requests merged in 2018-03, with the labels that each got.

#1184 use correct nginx package name on archlinux
  manifests/params.pp
Labels: bug

#1191 Fix #1190 Accommodate default package name nginx-mainline for Arch Linux
  spec/classes/nginx_spec.rb
Labels: bug

#1192 Add ssl_ecdh_curve to server resource
  manifests/resource/server.pp
  spec/defines/resource_server_spec.rb
  templates/server/server_ssl_settings.erb
Labels: enhancement, needs-rebase

#1194 release 0.11.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1195 Fix indent of autoindex param in server template
  spec/defines/resource_server_spec.rb
  templates/server/server_header.erb
Labels: enhancement

#1197 modulesync 1.9.0
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync

#1200 Add Debian 9 support
  .sync.yml
  .travis.yml
  manifests/init.pp
  manifests/package/debian.pp
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
  spec/acceptance/nginx_server_spec.rb
Labels: enhancement
