Repository voxpupuli/puppet-nginx, pull requests merged in 2019-10, with the labels that each got.

#1343 Fixes #1027 - Enable setting autoindex variables
  manifests/resource/location.pp
  manifests/resource/server.pp
  spec/defines/resource_location_spec.rb
  spec/defines/resource_server_spec.rb
  templates/server/locations/directory.erb
  templates/server/server_header.erb
  templates/server/server_ssl_header.erb
Labels: enhancement

#1352 Debian run_dir should be in /var/run/nginx
  manifests/params.pp
  spec/classes/nginx_spec.rb
Labels: bug

#1353 CentOS: Add it back to metadata.json
  metadata.json
Labels: enhancement

#1339 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .msync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/params.pp
  manifests/resource/mailhost.pp
  manifests/resource/streamhost.pp
  spec/spec_helper.rb
Labels: modulesync
