Repository voxpupuli/puppet-nginx, pull requests merged in 2019-02, with the labels that each got.

#1308 modulesync 2.5.1 and drop Puppet 4
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  .travis/setup.sh
  Gemfile
  Rakefile
  docs/quickstart.md
  metadata.json
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: backwards-incompatible

#1312 overwrite FreeBSD and DragonFlyBSD log_user
  manifests/params.pp
Labels: bug

#1298 add repo_source for custom Debian repo
  manifests/init.pp
  manifests/package/debian.pp
  metadata.json
  spec/classes/nginx_spec.rb
Labels: enhancement

#1296 Automatically require SSL cert files in the server
  manifests/resource/server.pp
  spec/defines/resource_server_spec.rb
Labels: enhancement

#1080 Add hiera defaults configuration options for all resources
  manifests/init.pp
Labels: enhancement

#1309 Fix `$nginx_upstream_defaults` type
  manifests/init.pp
Labels: bug

#1281 dont deploy "ssl on" on nginx 1.15 or newer (for mailhost)
  spec/acceptance/nginx_mail_spec.rb
  spec/defines/resource_mailhost_spec.rb
  templates/mailhost/mailhost.erb
  templates/mailhost/mailhost_ssl.erb
Labels: bug

#1231 initial support for snippets
  examples/snippet.pp
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  manifests/resource/snippet.pp
  spec/defines/resource_snippet_spec.rb
  templates/snippet/snippet_header.epp
Labels: enhancement

#1313 release 0.16.0
  CHANGELOG.md
Labels: skip-changelog

#1317 Fix `upstream_context` parameter in README
  README.md
Labels: docs
