Repository voxpupuli/puppet-nginx, pull requests merged in 2020-01, with the labels that each got.

#1344 manage repo for Debian 10
  .github/CONTRIBUTING.md
  .sync.yml
  .travis.yml
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
Labels: enhancement

#1370 modulesync 2.10.1
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#1371 release 1.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
