Repository voxpupuli/puppet-nginx, pull requests merged in 2020-05, with the labels that each got.

#1380 add proxy_request_buffering parameter to location & vhost
  manifests/resource/location.pp
  manifests/resource/server.pp
  spec/defines/resource_location_spec.rb
  templates/server/locations/proxy.erb
Labels: tests-fail

#1379 modulesync 2.12.0
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync, tests-fail

#1383 [skip-ci] Fix several markdown lint issues
  README.md
Labels: tests-fail

#1384 Drop Debian 8 support
  .sync.yml
  .travis.yml
  Gemfile
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
Labels: backwards-incompatible

#1382 Add ability to set ssl-settings globally - fixes #670
  manifests/config.pp
  manifests/init.pp
  manifests/resource/server.pp
  spec/acceptance/nginx_server_spec.rb
  spec/classes/nginx_spec.rb
  templates/conf.d/nginx.conf.erb
  templates/server/server_ssl_settings.erb
Labels: enhancement
