Repository voxpupuli/puppet-nginx, pull requests merged in 2021-05, with the labels that each got.

#1452 Unify (http_)log_format in nginx class and server resource
  manifests/init.pp
  manifests/resource/server.pp
  spec/defines/resource_server_spec.rb
  templates/server/server_header.erb
  templates/server/server_ssl_header.erb
Labels: enhancement

#1449 do not set resource defaults on ssl_cert/ssl_key resources
  manifests/resource/server.pp
Labels: bug

#1448 add reset_timedout_connection parameter
  manifests/config.pp
  manifests/init.pp
  manifests/resource/location.pp
  manifests/resource/server.pp
  spec/classes/nginx_spec.rb
  spec/defines/resource_location_spec.rb
  spec/defines/resource_server_spec.rb
  templates/conf.d/nginx.conf.erb
  templates/server/location_header.erb
  templates/server/server_header.erb
Labels: enhancement

#1451 Add variables to overwrite fastcgi.conf and uwsgi_params template
  manifests/init.pp
  manifests/resource/location.pp
  manifests/resource/server.pp
Labels: needs-tests

#1454 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
  spec/defines/resource_server_spec.rb
Labels: modulesync

#1455 release 3.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1456 default ipv6_listen_port to listen_port
  .github/workflows/ci.yml
  .sync.yml
  manifests/resource/mailhost.pp
  manifests/resource/server.pp
  manifests/resource/streamhost.pp
  spec/defines/resource_mailhost_spec.rb
Labels: enhancement
