Repository voxpupuli/puppet-nginx, pull requests merged in 2021-01, with the labels that each got.

#1436 Drop EL6 & Puppet 5 from and add Puppet 7 to metadata
  metadata.json
Labels: backwards-incompatible

#1435 Add two more lingering_ config options
  manifests/config.pp
  manifests/init.pp
  spec/classes/nginx_spec.rb
  templates/conf.d/nginx.conf.erb
Labels: enhancement

#1399 nginx isnt allowed to write into tmp directories, due to permissions …
  manifests/config.pp
Labels: bug

#1385 Drop Ubuntu 10/12/14 code
  manifests/params.pp
Labels: backwards-incompatible

#1442 Add focal support
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
  spec/classes/nginx_spec.rb
Labels: enhancement

#1438 makes service_config_check exec command configurable
  manifests/init.pp
  manifests/service.pp
Labels: enhancement

#1440 Release prep for 3.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
