Repository voxpupuli/puppet-nginx, pull requests merged in 2022-08, with the labels that each got.

#1508 Drop Debian 9 (EOL)
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  .rubocop.yml
  .rubocop_todo.yml
  Dockerfile
  Gemfile
  Rakefile
  lib/facter/nginx_version.rb
  manifests/package/redhat.pp
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
  spec/acceptance/init_spec.rb
  spec/acceptance/nginx_location_spec.rb
  spec/acceptance/nginx_mail_spec.rb
  spec/acceptance/nginx_proxy_spec.rb
  spec/acceptance/nginx_server_spec.rb
  spec/acceptance/nginx_upstream_spec.rb
  spec/classes/nginx_spec.rb
  spec/defines/resource_geo_spec.rb
  spec/defines/resource_location_spec.rb
  spec/defines/resource_mailhost_spec.rb
  spec/defines/resource_map_spec.rb
  spec/defines/resource_server_spec.rb
  spec/defines/resource_snippet_spec.rb
  spec/defines/resource_stream_spec.rb
  spec/defines/resource_upstream_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/type_aliases/debugconnection_spec.rb
  spec/type_aliases/size_spec.rb
  spec/type_aliases/time_spec.rb
  spec/type_aliases/upstreamcustomparameters_spec.rb
  spec/type_aliases/upstreammemberserver_spec.rb
  spec/type_aliases/upstreamstickyzone_spec.rb
  spec/type_aliases/upstreamzone_spec.rb
  spec/unit/facter/util/fact_nginx_version_spec.rb
Labels: backwards-incompatible

#1511 Add support for Debian 11
  metadata.json
  spec/acceptance/class_spec.rb
  spec/classes/nginx_spec.rb
Labels: enhancement

#1512 Move header escaping responsibility from the end user to Puppet
  spec/defines/resource_location_spec.rb
  templates/server/locations/headers.erb
Labels: backwards-incompatible

#1513 Allow to set log_format's "escape" parameter
  manifests/init.pp
  spec/classes/nginx_spec.rb
  templates/conf.d/nginx.conf.erb
  types/logformat.pp
Labels: backwards-incompatible

#1514 Add support for Ubuntu 22.04
  metadata.json
  spec/acceptance/class_spec.rb
  spec/classes/nginx_spec.rb
Labels: enhancement

#1496 Release 4.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
