Repository voxpupuli/puppet-nginx, pull requests merged in 2022-12, with the labels that each got.

#1523 init: set package_ensure defaults to installed
  REFERENCE.md
  manifests/init.pp
  spec/classes/nginx_spec.rb
Labels: bug

#1461 Add stream log support
  manifests/config.pp
  manifests/init.pp
  spec/classes/nginx_spec.rb
  templates/conf.d/nginx.conf.erb
Labels: enhancement

#1527 apt::source: configure repo only for current architecture
  manifests/package/debian.pp
Labels: bug

#1528 Release 4.2.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#1529 modulesync 5.4.0
  .msync.yml
  Gemfile
Labels: modulesync
