Repository voxpupuli/puppet-nginx, pull requests merged in 2023-04, with the labels that each got.

#1541 Move static data from params.pp to init.pp and add some datatypes
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
Labels: enhancement

#1543 Add EL 8/9 to supported OS
  manifests/package/redhat.pp
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
Labels: enhancement

#1544 Release 4.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1547 modulesync 5.5.0
  .github/SECURITY.md
  .gitignore
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: modulesync

#1549 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible
