Repository voxpupuli/puppet-nginx, pull requests merged in 2023-08, with the labels that each got.

#1572 modulesync 7.0.0
  .msync.yml
  Gemfile
  metadata.json
  spec/spec_helper.rb
  spec/unit/facter/util/fact_nginx_version_spec.rb
Labels: modulesync

#1573 metadata.json: drop EoL Ubuntu 18.04
  metadata.json
Labels: backwards-incompatible

#1568 Convert some templates to EPP
  REFERENCE.md
  manifests/resource/mailhost.pp
  spec/default_module_facts.yml
  spec/defines/resource_mailhost_spec.rb
  templates/mailhost/mailhost.epp
  templates/mailhost/mailhost.erb
  templates/mailhost/mailhost_common.epp
  templates/mailhost/mailhost_common.erb
  templates/mailhost/mailhost_ssl.epp
  templates/mailhost/mailhost_ssl.erb
  templates/mailhost/mailhost_ssl_settings.epp
  templates/mailhost/mailhost_ssl_settings.erb
  templates/prepend_append.epp
Labels: enhancement
