Repository voxpupuli/puppet-nginx, pull requests merged in 2023-06, with the labels that each got.

#1557 Add puppet 8 support
  metadata.json
Labels: enhancement

#1559 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1546 Add access and error logs directives when `www_to_non_www` or `non_www_to_www` is used
  spec/defines/resource_server_spec.rb
  templates/server/server_header.erb
  templates/server/server_ssl_header.erb
Labels: enhancement

#1562 modulesync 6.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .sync.yml
Labels: modulesync
