Repository voxpupuli/puppet-nginx, pull requests merged in 2024-06, with the labels that each got.

#1595 drop support for Debian 10
  REFERENCE.md
  metadata.json
  spec/acceptance/class_spec.rb
  spec/acceptance/nginx_server_spec.rb
  spec/classes/nginx_spec.rb
Labels: backwards-incompatible

#1591 modulesync 8.0.1
  .github/workflows/ci.yml
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  Gemfile
Labels: modulesync

#1601 Add OracleLinux support
  manifests/package/redhat.pp
  manifests/params.pp
  metadata.json
  spec/classes/nginx_spec.rb
Labels: enhancement

#1594 Allow specifying error_log severity for servers
  REFERENCE.md
  manifests/resource/server.pp
  spec/defines/resource_server_spec.rb
  templates/server/server_header.erb
  templates/server/server_ssl_header.erb
Labels: enhancement

#1602 modulesync 9.0.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/workflows/ci.yml
  .msync.yml
  Gemfile
Labels: modulesync

#1566 Remove legacy data types
  REFERENCE.md
  manifests/init.pp
Labels: backwards-incompatible

#1603 prepare release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
