Repository voxpupuli/puppet-nginx, pull requests merged in 2024-09, with the labels that each got.

#1613 Fix usage of `include_files` in `nginx::resource::map`
  spec/defines/resource_map_spec.rb
  templates/conf.d/map.epp
Labels: bug

#1615 Release 6.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1616 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#1617 modulesync 9.3.0
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync
