Repository voxpupuli/puppet-nginx, pull requests merged in 2025-06, with the labels that each got.

#1634 Disable mail relay in nginx 1.14
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  manifests/resource/mailhost.pp
  spec/acceptance/nginx_mail_spec.rb
  spec/classes/nginx_spec.rb
  spec/defines/resource_mailhost_spec.rb
  templates/conf.d/nginx.conf.erb
  templates/mailhost/mailhost_ssl.epp
Labels: bug, backwards-incompatible

#1471 add support to access_log, error_log log_not_found per location
  manifests/resource/location.pp
  spec/defines/resource_location_spec.rb
  templates/server/location_header.erb
Labels: enhancement

#1636 fix: lint issues in types and update REFERENCE.md
  REFERENCE.md
  types/logformat.pp
  types/upstreamdefaults.pp
  types/upstreammember.pp
  types/upstreammemberdefaults.pp
  types/upstreamsticky.pp
Labels: docs, skip-changelog

#1638 Fix logging statements in locations
  spec/defines/resource_location_spec.rb
  templates/server/location_header.erb
Labels: bug

#1641 Add support for Ubuntu 24.04 "noble"
  metadata.json
  spec/acceptance/class_spec.rb
Labels: enhancement

#1643 chore: cleanup .fixtures.yml
  .fixtures.yml
Labels: skip-changelog
